@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Just+Another+Hand&display=swap');

body {
    background: url(./img/bg-img.jpg);
    background-size: contain;
}

h1 {
    font-family: "Fredericka the Great", serif;
    font-weight: 600;
    font-style: normal;
    color: aliceblue;
    text-align: center;
    font-size: 40px;
}

.input-container{
    text-align: center;
}

.task-input{
    height: 29px;
    border-radius: 5px;
    border: solid rgb(1, 73, 1);
    width: 30%;
    margin-right: 10px;
    margin-bottom: 15px;
}

.action-btn{
    height: 30px;
    border-radius: 5px;
    border: solid rgb(1, 73, 1);
    font-family: "Fredericka the Great", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
}

.list-container {
    border: none;
    box-shadow: 0 0 10px 0 gray;
    width: 80%;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    height: 430px;
    background: rgba(255, 255, 255, 0.8);
    overflow-y: scroll;
}

.todo-item {
    border: none;
    box-shadow: 0 0 5px 0;
    margin: 15px;
    border-radius: 10px;
    font-size: 25px;
    padding: 5px 20px;
    background-color: aliceblue;
    font-family: "Indie Flower", cursive;
    font-weight: 700;
    font-style: normal;
    position: relative;
}

.del-img{
    height: 30px;
 
    right: 10px;
    bottom: 10px;
}

.del-btn{
    height: 30px;
    position: absolute;
    right: 10px;
    bottom: 9px;
    cursor: pointer;
}